# deps
node_modules/
.pnp
.pnp.js

# builds
.next/
out/
dist/
build/

# env & secrets
.env
.env.*
!.env.example

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

# editor / OS
.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp

# cache
.eslintcache
.turbo/
coverage/
